<ion-header >
  <ion-toolbar>
    <ion-title size = "large" class = "ion-text-center">Contactos</ion-title>
    <ion-buttons slot = "start">
      <ion-button [routerLink] = "['']">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot = "end">
      <ion-button [routerLink] = "['/nuevocontacto',resultadoLoggin]">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen] = "true">
  <ion-header collapse = "condense">
  </ion-header>
  <ion-card *ngFor = "let contacto of contactos">
    <ion-list>
      <ion-item [routerLink] = "['/contacto',resultadoLoggin,contacto.id]">
        <ion-avatar slot = "start">
          <img [src] = "contacto.imagen" align = "left">
        </ion-avatar>
          <ion-label>
            <h1> {{contacto.nombre}} </h1>
            <p>{{contacto.telefono}}</p>
          </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
